# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media (user uploads)
myproject/media/
media/

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
myenv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# IDEs and editors
.idea/
.vscode/
pyrightconfig.json
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db